<div class="thought-form-container">
    <a href="/thoughts/dashboard"> Voltar </a>
    <h1> Criar pensamento </h1>
    <form method="POST" action="/thoughts/create/save">
        <div class="form-control">
            <label for="title"> Pensamento </label>
            <input type="text" name="title" placeholder="O que você está pensando?" />
        </div>
        <input  type="submit" value="Salvar" />
    </form>
</div>